{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container text-center">
        <div class="row">
            
            <form action="{% url 'reservas:registrar_reserva' %}" method="POST"> {% csrf_token %}
                <h1 class='text-center' name="bloco">Bloco {{nome_bloco}}</h1>
                <h1 class='text-center' name="data">Data {{data}}</h1>
                
                
                <h1 class='text-center' >Laboratórios Reservados</h1>

                <div class="container text-center">
                    <table>
                        <thead>
                            <th>Professor</th>
                            <th>Laboratório</th>
                            <th>Periodo</th>
                        </thead>
                        <tbody>
                            {% if labs_reservados %}
                                {% for lab in labs_reservados %}
                                <tr>
                                    <td>{{lab.professor.nome}}</td>
                                    <td>{{lab.laboratorio.nome}}</td>
                                    <td>{{lab.periodo.nome_periodo}}</td>
                                </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            
                    <h1 class="text-center">Laboratórios disponíves</h1> 
                    {% if labs_disponiveis %}
                        {% for lab in labs_disponiveis %}
                        <h2 class='text-center'>{{lab.nome}} {{lab.bloco}}{{lab.numero_sala}}</h2>
                        {% endfor %}
                    {% endif %}

                </form>
        </div>
    </div>


 

{% endblock content %}