{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div class="container-flex">
        <div class="row">
            <div class="container-flex">
                <h1 class='tittle text' name="bloco">Bloco {{nome_bloco}}</h1>
                <h1 class='tittle text' name="data">Data {{data}}</h1>
            </div>
            {% comment %} Checbox para exibir laboratório reservados ou disponíveis {% endcomment %}
            <div class="seletor">
                <p class='text reservados principal' id="reservados">Reservados</p>
                <p class='text disponiveis ' id="disponiveis">Disponiveis</p>
            </div>
            <input type="checkbox" name="checkbox" id="checkbox-field" class="checkbox">
            <label for="checkbox-field" class="checkbox-label"></label>

            {% comment %} Espaço onde irá aparecer a lista de laboratório reservados e disponveis {% endcomment %}
            <div class="espaco-painel">
                <form action="{% url 'reservas:registrar_reserva' %}" method="POST"> {% csrf_token %}
                    <div class="painel">
                        {% comment %} Frente onde exibe lista de laboratório reservados caso possua alguma reserva {% endcomment %}
                        <div class="frente">
                            <div class="conteudo-painel">
                                <div class="container">
                                    {% if labs_reservados %}
    
                                        {% if request.user.groups.all.0.name == 'Funcionarios' %}  
                                            {% for lab in labs_reservados %}
                                                <p class='text text-center'>{{lab.professor.nome}} {{lab.laboratorio.nome}} {{lab.bloco}}{{lab.laboratorio.numero_sala}} {{lab.periodo.nome_periodo}} 
                                                    <a href="{% url "reservas:editar_form" lab.id %}"> <i class="fa-regular fa-pen-to-square"></i></a>
                                                    <a href="{% url "reservas:cancelar_form" lab.id %}"> <i class="fa-regular fa-trash-can"></i></a>
                                                </p>                                                
                                            {% endfor %}
                                        {% else %}
                                            {% for lab in labs_reservados %}
                                                <p class='text text-center'>{{lab.professor.nome}}</p>
                                                <p class='text text-center'>{{lab.laboratorio.nome}} {{lab.bloco}}{{lab.laboratorio.numero_sala}}</p>
                                                <p class='text text-center'>{{lab.periodo.nome_periodo}}</p>
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        <p class="text text-center">Não há nenhum laboratório reservado</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        {% comment %} Verso onde exibe lista de laboratórios disponíveis caso possua algum {% endcomment %}
                        <div class="verso">

                            <div class="conteudo-painel">
                                {% if labs_disponiveis_noturno %}
                                    <div class="container">
                                        {% for lab in labs_disponiveis_noturno %}
                                            <p class="text text-center">{{lab}} Noturno</p>
                                        {% endfor %}
                                    </div>
                                {% else  %}
                                    <p class='text text-center'>Não há nenhum laboratório dispónivel no periodo matutino</p>
                                {% endif %}
                            </div>

                            <div class="conteudo-painel">
                                {% if labs_disponiveis_vespertino %}
                                    <div class="container">
                                        {% for lab in labs_disponiveis_vespertino %}
                                            <p class="text text-center">{{lab}} Vespertino</p>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class='text-center'>Não há nenhum laboratório dispónivel no periodo matutino</p>
                                {% endif %}
                            </div>

                            <div class="conteudo-painel">
                                {% if labs_disponiveis_matutino %}
                                    <div class="container">
                                        {% for lab in labs_disponiveis_matutino %}
                                            <p class="text text-center">{{lab}} Matutino</p>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p class='text-center'>Não há nenhum laboratório dispónivel no periodo matutino</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </form>
            </div>   
        </div>
    </div>


{% endblock content %}