{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="tittle text text-center">Cancelar Reserva</h1>
                <p class="text text-center">Tem certeza que deseja cancelar a reserva:</p>
                <p class="text-text-center">{{object_list.professor}} {{object_list.laboratorio.nome}} {{object_list.bloco}}{{object_list.laboratorio.numero_sala}}
                     {{object_list.data_reserva}} {{object_list.periodo}}</p>
                <a href="{% url "reservas:cancelar" {{object_list.id}} %}">Sim, cancelar reserva</a>
            </div>
        </div>
    </div>

 



{% endblock content %}