{% load static %}
<!DOCTYPE html>
<html lang="pt-br" xmlns:consulta="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensalamento</title>

    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    
    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    
</head>
<body>

  {% comment %} Barra de navegação {% endcomment %}
  <nav class="navbar">
    <div class="container-flex">
      {% comment %} Botão para reserva do laboratórios {% endcomment %}
      {% if request.user.is_authenticated %}
        <form action="{% url "reservas:reservar_laboratorio" %}" method="GET"> {% csrf_token %}
          <button class="btn btn-nav">Reservar Laboratório</button>
        </form>
      {% endif %}

      {% comment %} Botão para consulta de reservas {% endcomment %}
      <form action="{% url 'consulta:consulta' %}" method="GET"> {% csrf_token %}
        <button class="btn btn-nav">Consultar Reservas</button>
      </form>

      {% comment %} Nome de usuario ou botão de login {% endcomment %}
      {% if request.user.is_authenticated  %}
            <a href="#">Olá {{request.user | title}}</a>
        <form action="{% url 'usuarios:logout' %}" method="GET"> {% csrf_token %}
          <button class="btn btn-nav">Sair</button>
        </form>
      {% else %}
      <form action="{% url 'usuarios:login' %}" method="GET"> {% csrf_token %}
        <button class="btn btn-nav">Entrar</button>
      </form>
      {% endif %}


      {% comment %} Checkbox para alterar de tema claro para escuro {% endcomment %}
      {% comment %} <input type="checkbox" name="checkbox-dark" id="chk-dark">
      <label class='label-dark' for="chk-dark">
        <i class='fas fa-moon'></i>
        <i class='fas fa-sun'></i>
        <div class="teme-ball"></div>
      </label> {% endcomment %}
    </div>
  </nav>

  {% comment %} Conteudo das outras páginas {% endcomment %}
  {% block content %}{% endblock content %} 
    
  {% comment %} Link para arquivo JS do projetor {% endcomment %}
  <script src="{% static 'js/index.js'%}"></script>

  {% comment %} Link para fonte de icones {% endcomment %}
  <script src="https://kit.fontawesome.com/560af2bb7b.js" crossorigin="anonymous"></script>
    
</body>
</html>