{% extends "base.html" %}
{% load static %}

{% block content %}

    {% comment %} Mensagem de erro {% endcomment %}
    {% if erro %}
        <div class="container-flex">
            <div class="row">
                <div class="erro">
                    <p class='mensagem_erro'>{{erro}}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% comment %} Mensagem de sucesso {% endcomment %}
    {% if sucesso %}
        <div class="container-flex">
            <div class="row">
                <div class="sucesso">
                    <p class="mensagem_sucesso">{{sucesso}}</p>
                </div>
            </div>
        </div>
    {% endif %}

<div class="container">

    <form action="{% url "usuarios:login" %}" method="POST"> {% csrf_token %}
        <input class='input'type="text" placeholder='Nome de usuário' name='usuario'>
        <input class='input'type="password" placeholder='Digite sua senha' name='senha'>
        <button type='submit' class='btn'>Login</button>
    </form>

    <p class='text'>Não possui conta? <a href="{% url "usuarios:cadastro" %}">Clique aqui</a> para criar uma conta</p>
</div>

{% endblock content %}