{% extends 'base.html' %}

{% block content %}
    <div class="container-flex-coloumn">
        <div class="container-flex">
            {% if error_message %}
                <p class="text text-center">{{ error_message }}</p>
            </div>
            {% endif %}
        </div>
        <div class="container-flex">
            <form action="{% url 'usuarios:registrar' %}" method="POST"> {% csrf_token %}
                <div class="container">
                    <input type="text" name="username" id="username" class="input" placeholder="Digite seu usuário" required>
                </div>
                <div class="container">
                    <input type="email" name="email" id="email" class="input" value={{ pre_registro.email }}>
                </div>
                <div class="container">
                    <input type="password" name="password1" id="password1" class="input" placeholder="Digite sua senha" required>
                </div>
                <div class="container">
                    <input type="password" name="password2" id="password2" class="input" placeholder="Confirme a sua senha" required>
                </div>

                <input type="hidden" name="uuid_pre_registro" value={{ pre_registro.uuid }}>
                
                <div class="container">
                    <button type="submit" class="btn">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
